


img{
max-width: 50%;
border-radius: 50%;
height: auto;
width:auto;
/* vertical-align:bottom; */
}

td{
  white-space: nowrap;
  width:auto;
  /* display: block; */
}


table {
    table-layout: auto;
}
